services:
  postgres:
    image: postgres:18-alpine
    command: -d 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codelabs
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    command: redis-server --appendonly yes --requirepass codelabs

  rustfs:
    image: rustfs/rustfs:latest
    ports:
      - "9000:9000"
    environment:
      RUSTFS_ACCESS_KEY: rustfsadmin
      RUSTFS_SECRET_KEY: rustfsadmin
      RUSTFS_CONSOLE_ENABLE: "false"
      RUSTFS_ADDRESS: ":9000"
    volumes:
      - rustfsdata:/data
    command: ["/data"]

volumes:
  pgdata:
  redis:
  rustfsdata:
