DATABASE_URL="postgres://codelabs:codelabs@localhost:5432/codelabs" # use this for local development
REDIS_URL="redis://default:codelabs@localhost:6379" # use this for local development
JWT_SECRET="your_secret_key"
RESEND_API_KEY="your_resend_api_key"
URL="http://localhost:3000"
PASSWORD_PEPPER="your_password_pepper"
COOKIE_SECRET_1="secret_1"
COOKIE_SECRET_2="secret_2"
COOKIE_SECRET_3="secret_3"
